################################
### config file to run  xAna ###
################################

## see ConfigReader.h for options

### output directory
outputDir = ./results/MVA/

## analysis type is MVA, baseline
analysisType = MVA
setup = Legacy2013_8TeV
## category definition directory
categoryDefDir = etc/categoryDef/MVA/Legacy2013_8TeV/

### energy scale correction
energyScaleCorrection = etc/inputs/ecalCalib/EtDependentCorr.txt

### luminosity (fb-1)
luminosity = 19.5

### potential pt cuts
pt1_cut = 33.3
pt2_cut = 25
loosePt1M_cut  = 0.33333
loosePt2M_cut  = 0.25000
phoIdMva_cut   = -1
diJetPtg1M_cut = 0.33333
diJetPtg2M_cut = 0.25000
diJetMjj_cut   = 250
VHPt1M_cut     = 0.375
VHhadPt1M_cut  = 0.500
TTHPt1M_cut    = 0.500

doSkimming = 0
### electron veto to run other , invert the veto
invEleVeto = 0

### VBF mva categorisation
VBFCombmvaCategory = 1

### syst on energy resolution oversmearing= -1, 0, +1 sigma
systEnergyResolution = 0

### PU Jet ID for 2012 analysis
doPUJetID   = 1

### number of evts per job
### when running on large ntuples, it allows to split
### to input (several jobs attack the same file at different places)
### default=  -1 (do all evts in roottuple)
nEvtsPerJob = -1

